.boja {
    color: blue;
}
.color{
    color: red;
}
.zelena {
    color: green;
}
.roze {
    color: rosybrown;
}
.zagrada {
    color: navy;
}
 .eeee {
    color: orange;
 }
 .zarez {
    color: rebeccapurple;
}
.ljubicasta {
    color: purple;
}
.jednako {
    color:aquamarine;
}

 
