.boja {
    color: blue;
}
.color{
    color: red;
}
.zelena {
    color: green;
}
.roze {
    color: rosybrown;
}
.zagrada {
    color: navy;
}
 .eeee {
    color: orange;
 }
 .zarez {
    color: rebeccapurple;
}
.ljubicasta {
    color: purple;
}
.jednako {
    color:aquamarine;
}
.indexof {
    color: chocolate;
}
.cetvrta {
    color: darkgoldenrod;
}
.el {
    color: darkolivegreen;
}
.peta {
    color: deeppink;
}
.uzvicnik {
    color: indigo;
}
.jednakost {
    color: brown;
}
.sesta {
    color: sienna;
}